* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    170deg,
    rgba(242, 153, 74, 0.2),
    rgba(242, 153, 74, 0.2) 52%,
    white 32%,
    white
  );
  background-repeat: no-repeat;
  font-family: "Product Sans", sans-serif;
  min-height: 160vh;
}

.form-container {
  width: 44.375rem;
  margin: 3rem auto 2rem;
  text-align: left;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 3.125rem;
  color: #4e598c;
  margin-bottom: 2rem;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid #000000;
}

li {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.125rem;
  color: #bdbdbd;
  padding: 0rem 0.5rem 1.5rem;
}

.nav-step {
  color: #f2994a;
  position: relative;
}

.nav-step:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 20;
  background: #f2994a;
  height: 0.813rem;
  border-radius: 10px;
  transform: translateY(50%);
}

.steps {
  margin-top: 5rem;
}

.btn {
  width: 14.875rem;
  height: 3.625rem;
  background: linear-gradient(180deg, #f2c94c 0%, #f2994a 100%);
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #f7f7ff;
  cursor: pointer;
  border: 1px solid#f2994a;
}

.btn-cancel {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #4e598c;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 2rem;
}

.arrow{
  transform: rotate(90deg);
  padding: 1rem;
  width:2rem;
  margin-left: 90%;
  padding-top: 3rem;
}