.card-numbers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-numbers div {
  display: flex;
  flex-direction: column;
}

.card-number input{
  width: 24.438rem;
}

.card-expiry input{
  width: 8.25rem;
}

.card-cvv input{
  width: 104px;
}
