.form-inputs {
  display: flex;
  flex-direction: column;
}

label {
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #000000;
  margin-bottom: 1rem;
}

input,
select {
  background: #ffffff;
  border: 1px solid #4e598c;
  box-sizing: border-box;
  border-radius: 10px;
  height: 4rem;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #4f4f4f;
  padding: 0 1rem;
}

.form-input_hint {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #817e9e;
}

.sub-step1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lga-input,
.state-input {
  display: flex;
  flex-direction: column;
}

.sub-step1 input {
  width: 26.25rem;
}
.sub-step1 select {
  width: 16.25rem;
}
